body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  .body-container{
    margin-top: 16vh;
    height: 100vh;
    margin-left: 10px;
  }

  .search-bar {
    display: flex;
    position: relative;
    width:100%;
    border-bottom: 1px solid #ddd;
  }
  
  .search-bar input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 30px;
    margin-left: 20px;
  }
  
  
  .chat-container {
    width: 100%;
    height: 100vh; /* Assuming you want the chat to fill the entire viewport height */
  }
  
  .message-group {
    border-bottom: 1px solid #ddd; /* Light gray border */
  }
  .message-group ul {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px 10px;
  }
  
  .sender,
  .time,
  .message {
    margin: 0 30px;
    
  }
  
  .sender {
    font-weight: bold;
  }
  
  .time {
    color: #888; /* Light gray text */
    font-size: 12px;
  }
  
  .message {
    margin: 0 40px;
    flex-grow: 1; /* Allow message text to fill remaining space */
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
  }
  
  .title {
    font-size: 20px;
    align-items: center;
    gap: 10px;
    display: flex;
    font-weight: bold;
  }
  .title a {
    align-items: center;
    color: #000000;
    font-weight: bold;
    font-size: 40px;
  }

  .create{
    font-weight: bold;
    color: rgb(41, 94, 150);
  }

  .profil{
    padding: 20px;
    display: flex;
    gap: 10%;
  }
  .profil label{
    position: relative;
  }
  .avatar{
    border-radius:50%;
    display: absolute;
    width: 200%;
  }
  
  .camera{
    left: 70%;
    width: 20%;
    position: absolute;
    bottom: 16px;
  }

  .member-count{
    display: flex;
    justify-content: right;
    margin-right:2% ;
  }

  .member-details{
    margin-left: 2% ;
    width: 50%;
  }

  .member-details a{
    color: rgb(1, 137, 216);
  }

  .avatar-container{
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .avatar-members {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: inline-block;
    margin: 0 10px;
    border: 1px solid #c1c1c1;
    background-color: #ffffff;
}

.text-add{
    color: #000000;
    font-size: 30px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-members p{
    padding: 5px;
    font-size: 10px;
    color: #b1b1b1;
    display: flex;
    justify-content: center;
}


.avatar-members img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pastikan gambar terpotong dengan benar */
}